<footer class="pc">
    <a href="/"><img src="/img/Index/Logo-nuestro.png" width="60px" class="logo"></a>
    <ul class="nav-bar-footer">
        <li><a href="/products/productDetail">Catalogo</a></li>
        <li>Ofertas!</li>
        <li>About Us</li>
        <li>Contacto</li>
    </ul>
    <p class="derechos">Todos los derechos reservados © 2021 Rock & Blues Music</p>
</footer>

<footer class="mobile">
    <div class="renglon1">
        <div class="logo-mobile">
            <img class="logo-mobile" src="/img/Index/Logo-nuestro.png" width="100%">
        </div>
        <div class="data">
            <img class="data-fiscal" src="/img/footer/Data-fiscal-Web.jpg" width="100%">
        </div>
    </div>

    <div class="renglon2">
        <p class="derechos">Todos los derechos reservados © 2021 Rock & Blues Music</p>
    </div>
</footer>