<footer>
    <a href="/"><img src="/img/Index/Logo-nuestro.png" width="60px" class="logo"></a>
    <ul class="nav-bar-footer">
        <li><a href="/products/productDetail">Catalogo</a></li>
        <li>Ofertas!</li>
        <li>About Us</li>
        <li>Contacto</li>
    </ul>
    <p class="derechos">Todos los derechos reservados © 2021 Rock & Blues Music</p>
</footer>