<header>
    <section class="nav-bar">
        <div>
            <a href="/"><img src="/img/Index/Logo-nuestro.png" alt width="60px" class="logo"></a>
        </div>
        <span id="barra-de-busqueda">Buscar productos, marcas y más...</span>
        <section>
            <button class="ingresa"><a href="/user/login">Ingresa</a></button>
            <button id="Registrate"><a href="/user/register">Registrate</a></button>
        </section>
    </section>
    <nav class="nav-bar">
        <span class="nick">Rock & Blues Music</span>
        <ul class="nav-bar-espaciado">
            <li><a href="/products/productDetail">Catalogo</a></li>
            <li>Ofertas!</li>
            <li>About Us</li>
            <li>Contacto</li>
            <li><i class="fas fa-shopping-bag"></i></li>
        </ul>
    </nav>
</header>
<div>
    <img class ="oculto" src="/img/Index/banner.jpg" alt width="100%">
</div>