<header class="pc">
    <section class="nav-bar">
        <div>
            <a href="/"><img src="/img/Index/Logo-nuestro.png" alt width="60px" class="logo"></a>
        </div>

        <div class="barra">
            <form action="/products/buscar" method="GET">
                <input type="text" placeholder="Busca productos, marcas y mas..." name="busqueda"  id="busqueda" class="barra-busqueda">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>

        <% if(locals.isLogged){ %> 

            <section class="botones">
                <button class="ingresa"><a href="/user/profile">Perfil</a></button>
                <button class="registrate"><a href="/user/logout">Salir</a></button>
            </section>

        <% }else{ %> 
            <section class="botones">
                <button class="ingresa"><a href="/user/login">Ingresa</a></button>
                <button class="registrate"><a href="/user/register">Registrate</a></button>
            </section>
        <% } %> 

    </section>

    <nav class="nav-bar2">

        <span class="nick">Rock & Blues Music</span>

        <ul class="nav-bar-espaciado">
            <li><a href="/products/List">Catalogo</a></li>
            <li>Ofertas!</li>
            <li>About Us</li>
            <li><a href="/user/contact">Contacto</a></li>
            <li><a href="/products/productCart"><i class="fas fa-shopping-bag"></i></a></li>
        </ul>

    </nav>

</header>

<div class="pc">
    <img class ="banner" src="/img/Index/banner.jpg" alt width="100%">
</div>

<header class="mobile">

    <section class="flex-container">
        <div class="item">
            <a href="/"><img src="/img/Index/Logo-nuestro.png" alt width="60px" class="logo"></a>
        </div>

        <div class="item">
            <i class="fas fa-bars"></i>
        </div>
    </section>



</header>