<%- include('parcials/head.ejs') %>
<link rel="stylesheet" href="/css/404.css">
<body>


    <main>
        <section>

           <ul>
               <div>
                   <li class="error"><a href="/"><i class="fas fa-home"></i>Home</a></li>
                </div>

               <div>
                   <li class="error"><a href="/products/productList"><i class="fas fa-shopping-cart"></i>Catalogo</a></li>
                </div>

               <div>
                   <li class="error"><a href="/contact"><i class="fas fa-inbox"></i>Contacto</a></li>
                </div>

               <div>
                   <li class="error"><a href="/products/productCart"><i class="fas fa-credit-card"></i>Chekout</a></li>
                </div>

           </ul>

        </section>
    </main>

</body>
</html>