<%- include('parcials/head.ejs') %>
<link rel="stylesheet" href="/css/exito.css">
<body>
    <%- include('parcials/header.ejs') %>

    <main>
        <section>

           

        </section>
    </main>

    <%- include('parcials/footer.ejs') %>
</body>
</html>