<%- include('parcials/head.ejs') %>
<link rel="stylesheet" href="/css/exito.css">
<body>
    <%- include('parcials/header.ejs') %>

    <main>
        <section class="main-container">

           <div class="encabezado"><h1>Su peticion ha sido exitosa</h1></div>

           <div class="imagen"><img src="/img/exito/submitted-successfully.png" width="100%"></div>
           
           <div class="boton"><button><a href="/">Voler al inicio</a></button></div>

        </section>
    </main>

    <%- include('parcials/footer.ejs') %>
</body>
</html