<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/css/productDetail.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock & Blues Music</title>
</head>
<body>
    <header>
        <section class="nav-bar">
            <div class="logo">
                <a href="/"><img src="/img/Index/Logo-nuestro.png" alt width="60px" class="logo"></a>
            </div>
            <span id="barra-de-busqueda">Buscar productos, marcas y más...</span>
                <section>
                <button class="ingresa">Ingresa</button>
                <button id="Registrate">Registrate</button>
            </section>
        </section>
        <nav class="nav-bar">
            <span class="nick">Rock & Blues Music</span>
            <ul class="nav-bar-espaciado">
                <li>Catalogo</li>
                <li>Ofertas!</li>
                <li>About Us</li>
                <li>Contacto</li>
                <li><img src="/img/Index/bolso.jpg" class="ocultar"></li>
            </ul>
        </nav>
        <section class="navegacion-secundaria">
            <span>Instrumentos Musicales</span>
            <span>></span>
            <span>Guitarras</span>
            <span>></span>
            <span>Criollas</span>
        </section>
    </header>

    <main>
        <section class="contenedo-main">
            <div class="columnas">
                <section class="columna1">
                    <div class="shadow"><img src="/img/productDetail/1.jpg" alt=""></div>
                    <div class="shadow"><img src="/img/productDetail/2.jpg" alt=""></div>
                    <div class="shadow"><img src="/img/productDetail/5.jpg" alt=""></div>
                    <div class="shadow"><img src="/img/productDetail/4.jpg" alt=""></div>
                </section>
                <section class="columna2">
                    <div class="shadow"><img src="/img/productDetail/Main-guitarra.jpg" alt=""></div>
                </section>
                <section class="columna3">
                    <div>
                        <span>Guitarra Tipo Criolla Yacopi De Medio Concierto | Cahoba y Abedul</span><br>
                    </div>
                    <div>
                        <span><strong>$60.000</strong></span>
                    </div>
                    <div>
                        <span> <strong> Medios de Pago</strong></span><br>
                        <img src="/img/Index/pago.jpg" alt width="100%">
                    </div>
                    <div class="compra"> 
                        <button class="botones-compra">Comprar Ahora</button>
                        <button class="botones-carrito">Agregar a la Bolsa</button>
                    </div>
                </section>
            </div>
        </section>
    </main>
    <footer>
        <a href="/"><img src="/img/Index/Logo-nuestro.png" width="60px" class="logo"></a>
        <ul class="nav-bar-footer">
            <li><a href="/productDetail">Catalogo</a></li>
            <li>Ofertas!</li>
            <li>About Us</li>
            <li>Contacto</li>
        </ul>
        <p class="derechos">Todos los derechos reservados © 2021 Rock & Blues Music</p>
    </footer>
</body>
</html>