<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/css/productDetail.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock & Blues Music</title>
</head>
<body>
    <%- include('parcials/header.ejs') %>

    <main>
        <section class="contenedo-main">
            <div class="columnas">
                <section class="columna1">
                    <div class="shadow"><img src="/img/productDetail/1.jpg" alt=""></div>
                    <div class="shadow"><img src="/img/productDetail/2.jpg" alt=""></div>
                    <div class="shadow"><img src="/img/productDetail/5.jpg" alt=""></div>
                    <div class="shadow"><img src="/img/productDetail/4.jpg" alt=""></div>
                </section>
                <section class="columna2">
                    <div class="shadow"><img src="/img/productDetail/Main-guitarra.jpg" alt=""></div>
                </section>
                <section class="columna3">
                    <div>
                        <span>Guitarra Tipo Criolla Yacopi De Medio Concierto | Cahoba y Abedul</span><br>
                    </div>
                    <div>
                        <span><strong>$60.000</strong></span>
                    </div>
                    <div>
                        <span> <strong> Medios de Pago</strong></span><br>
                        <img src="/img/Index/pago.jpg" alt width="100%">
                    </div>
                    <div class="compra"> 
                        <button class="botones-compra">Comprar Ahora</button>
                        <button class="botones-carrito">Agregar a la Bolsa</button>
                    </div>
                </section>
            </div>
        </section>
    </main>

    <%- include('parcials/footer.ejs') %>

</body>
</html>