*{
    box-sizing: border-box;
}

footer{
    background-color: #000;
    color: white;

}

footer .logo {
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
    background: #000;
    color: white;
}

.nav-bar-footer {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 50px;
    margin: 10px 0px;
}

.derechos {
    margin-bottom: 0px;
    padding: 0px 0px 10px 10px;
    font-size: 0.8rem;
    opacity: 0.5;
}