body{ font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

h2{
    color: 000000;
}

header{
    background-color: #000;
    color: #FFFFFF;
}

footer{
    background-color: #000;
}