*{
    box-sizing: border-box;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    margin: 0;
}

header{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}   

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

ul{
    list-style: none;
    margin: 0;
}

.grilla{
    display: flex;
    flex-direction: row-reverse;
}

.nav-bar-espaciado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 50%;
}

article{
    width: 100%;
    margin: 0;
    border: 0;
}

.logo{
    border-radius: 100%;
    justify-content: center;
}

.adentro-section-vertical{
    display: flex;
    flex-direction: column;
    width: 50vw;
}


.adentro-section{
    display: flex;
    flex-direction: row;
    width: 50vw;
}

footer{
    background-color: black;
    margin: 0;
    color:white;
    border: 0;

}

h2{
    margin: 0;
}

.margenes{
    margin:0;
    border: 0;
}

.marcas{
    font-display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}

.c-marcas{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 80%;
}

.nuestras-marcas{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px;
}

.bordes{
    border:gray solid;
    box-shadow: gray 10px;
    margin: 10px;
}

.estructura-main{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.grilla-izquierda{
    display: flex;
    flex-direction: column;

    justify-content: space-around;

}

.grilla-derecha{
    width: 500px;
    align-content: stretch;
    padding: 2%;
}

.main-contenedor{
    display: flex;
    justify-content: center;
    
}

@media(max-width:560px){
    .ocultar{
        display: none;
    }
}