*{
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}


/*MAIN*/

main{ 
    display: flex;
    justify-content: center;
}

.contenedo-main{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: stretch;
    padding: 60px;
    border: solid 1px rgb(185, 185, 185);
    border-radius: 10px;
    box-shadow:7px 5px 10px rgb(185, 185, 185);
    margin-top: 30px;
    margin-bottom: 30px;
}

.columnas{
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.columna1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    margin: 15px;  
}

.columna2{
    margin-right: 20px;
    margin-left: 20px;
}

.columna3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: stretch;
    border: solid 1px rgb(185, 185, 185);
    border-radius: 15px;
    box-shadow: 7px 5px 10px rgb(185, 185, 185);
    padding: 10px;
    margin-left: 10px;
}

.shadow{
    border: solid 1px rgb(185, 185, 185);
    border-radius: 5px;
    box-shadow: 7px 5px 10px rgb(185, 185, 185);
}

.ingresa{
    background-color: black;
    color: white;
    border-color: black;
}

.botones-compra{
    display: flex;
    justify-content: center;
    border:transparent;
    border-radius: 7px;
    background-color: rgb(61, 107, 255);
    color: white;
    font-size: 25px;
}

.botones-carrito{
    display: flex;
    justify-content: center;
    border:none;
    background-color: #fff;
    color: rgb(61, 107, 255);
    font-size: 18px;
}

.compra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

/*FOOTER*/

footer{
    background-color: black;
    color: white;
    margin-top: 20px;
}

footer .logo {
    margin-top: 20px;
    margin-bottom: 0px;
}

.nav-bar-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 50px;
    margin: 30px 0px;
}

.derechos {
    margin-bottom: 0px;
    padding: 0px 0px 10px 10px;
    font-size: 0.8rem;
    opacity: 0.5;
}

.ocultar {
    display: none;
}