*{
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

h2{
    color: 000000;
}

header{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
    margin: 0;
    padding: 0;
    border: 0;
} 

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    padding: 0;
}

.nav-bar-espaciado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 50%;
}

ul{
    list-style: none;
    margin: 0;
}

.logo{
    border-radius: 100%;
    align-self: center;
}

.navegacion-secundaria{
    background-color: rgb(179, 179, 179);
    color: white ;
}


main{
    height: 70vh;
    display: flex;
    align-items:stretch;
    justify-content: center;
}

.imagenes-laterales{
    display: flex;
    flex-direction: column;
    box-shadow: grey;
    
}

.contenedo-main{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    margin: 5%;
    padding: 5%;
    border-style:groove;
    box-shadow: grey 40PX;
    align-items: stretch;

    
}

footer{
    background-color: #000;
    color: white;
    height: 10vh;
}

.ingresa{
    background-color: black;
    color: white;
    border-color: black;
}



.botones-compra{
    display: flex;
    justify-content: center;
    border:none;
    background-color: rgb(61, 107, 255);
    color: white;
}

.botones-carrito{
    display: flex;
    justify-content: center;
    border:none;
    background-color: #fff;
    color: rgb(61, 107, 255);
}

.columna3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: stretch;
    border-style: solid;
}

.compra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}