<%- include('../parcials/head.ejs') %>
<link rel="stylesheet" href="/css/profile.css">
<body>
    <%- include('../parcials/header.ejs') %>

    <main>
        <section>
            <div ><h1>Hola USUARIO</h1></div>
            
            <div><img src="/img/profileIMG/defaults"></div>


            
        </section>
    </main>

    <%- include('../parcials/footer.ejs') %>
    
</body>
</html>