<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/css/index.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rock & Blues Music</title>
    <link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css "
rel="stylesheet" />
</head>
<body>
    <header>
        <section class="nav-bar">
            <div>
                <a href="/"><img src="/img/Index/Logo-nuestro.png" alt width="60px" class="logo"></a>
            </div>
            <span id="barra-de-busqueda">Buscar productos, marcas y más...</span>
            <section>
                <button class="ingresa">Ingresa</button>
                <button id="Registrate">Registrate</button>
            </section>
        </section>
        <nav class="nav-bar">
            <span class="nick">Rock & Blues Music</span>
            <ul class="nav-bar-espaciado">
                <li><a href="/productDetail">Catalogo</a></li>
                <li>Ofertas!</li>
                <li>About Us</li>
                <li>Contacto</li>
                <li><i class="fas fa-shopping-bag"></i></li>
            </ul>
        </nav>
    </header>
    <div>
        <img src="/img/Index/banner.jpg" alt width="100%" class="margenes">
    </div>
    
    <main class="estructura-main">  
       <section class="main-contenedor">
            <section class="grilla-izquierda">
                <div class="c-marcas">
                    <h2>Nuestras Marcas</h2>
                    <div class="marcas">
                        <div class="nuestras-marcas">
                            <div><img src="/img/Index/Fender.jpg" alt width="100%"></div>
                            <div><img src="/img/Index/Gibson.jpg" alt width="100%"></div>
                            <div><img src="/img/Index/Ibanez.jpg" alt width="100%"></div>
                            <div><img src="/img/Index/Pioneer.jpg" alt width="100%"></div>
                        </div>
                        <div class="nuestras-marcas">
                            <div><img src="/img/Index/audio-tecnica.jpg" alt width="100%"></div>
                            <div><img src="/img/Index/Steinberg.jpg" alt width="100%"></div>
                            <div><img src="/img/Index/shure.jpg" alt width="100%"></div>
                            <div><img src="/img/Index/Yamaha.jpg" alt width="100%"></div>   
                        </div>

                    </div>  
                </div>
            
                <div>
                    <h2>Medios de Pago</h2>
                    <img class="metodos-pago" src="/img/Index/Medios-de-pago.jpg" alt width="100%">
                </div>
            </section>

            <section class="grilla-derecha">
                <h2>Nuestros Productos</h2>
                <div lass="marcas">
                    <div class="nuestras-marcas">
                        <img src="/img/Index/Guitarra.jpg" alt="Guitarras" width="100%" class="bordes">
                        <img src="/img/Index/Teclado.jpg" alt width="100%" class="bordes">
                    </div>
                    <div class="nuestras-marcas">
                        <img src="/img/Index/Audio.jpg" alt width="100%" class="bordes">
                        <img src="/img/Index/Ukelele.jpg" alt width="100%" class="bordes">
                    </div>
                </div>
            </section>
        </section>
    </main>
    
    <footer>
        <a href="/"><img src="/img/Index/Logo-nuestro.png" width="60px" class="logo"></a>
        <ul class="nav-bar-footer">
            <li><a href="/productDetail">Catalogo</a></li>
            <li>Ofertas!</li>
            <li>About Us</li>
            <li>Contacto</li>
        </ul>
        <p class="derechos">Todos los derechos reservados © 2021 Rock & Blues Music</p>
    </footer>
</body>
</html>