<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/index.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="/img/Index/Logo-nuestro.png" alt=""><br>
        <span>Nombre de la empresa</span>
        <button>Ingresa</button>
        <button>Registrate</button>
        <nav>
            <ul>
                <li>Catalogo</li>
                <li>Ofertas!</li>
                <li>About Us</li>
                <li>Contacto</li>
                <img src="/img/Index/bolso.jpg" alt="">
            </ul>
        </nav>
    </header>
    <img src="/img/Index/banner.jpg" width="auto">
    <main>
        <section>
            <h2>Nuestras Marcas</h2>
            <img src="/img/Index/Fender.jpg" alt="">
            <img src="/img/Index/Gibson.jpg" alt="">
            <img src="/img/Index/Ibanez.jpg" alt="">
            <img src="/img/Index/Pioneer.jpg" alt="">
            <img src="/img/Index/audio-tecnica.jpg" alt="">
            <img src="/img/Index/Steinberg.jpg" alt="">
            <img src="/img/Index/shure.jpg" alt="">
            <img src="/img/Index/Yamaha.jpg" alt="">
        </section>
        <section>
            <h2>Medios de Pago</h2>
            <img src="/img/Index/Medios-de-pago.jpg" alt="">
        </section>
        <section>
            <h2>Nuestros Productos</h2>
            <img src="/img/Index/Guitarra.jpg" alt="">
            <img src="/img/Index/Teclado.jpg" alt="">
            <img src="/img/Index/Audio.jpg" alt="">
            <img src="/img/Index/Ukelele.jpg" alt="">
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>