<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/css/productDetail.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <section class="nav-bar">
            <img src="/img/Index/Logo-nuestro.png" alt width="60px" class="logo">
            <section>
                <button id="Ingresa">Ingresa</button>
                <button id="Registrate">Registrate</button>
            </section>
        </section>
        <nav class="nav-bar">
            <span>Rock & Blues Music</span>
            <ul class="nav-bar-espaciado">
                <li>Catalogo</li>
                <li>Ofertas!</li>
                <li>About Us</li>
                <li>Contacto</li>
                <li><img src="/img/Index/bolso.jpg" class="ocultar"></li>
            </ul>
        </nav>
    </header>
    <section style="background-color: gray;">
        <section style="color: #ffffff;">
            <span>Instrumentos Musicales</span>
            <span>></span>
            <span>Guitarras</span>
            <span>></span>
            <span>Criollas</span>
        </section>
        
    </section>
    <main>
        <section class="contenedo-main">
            <section class="imagenes-laterales">
                <img src="/img/productDetail/1.jpg" alt="">
                <img src="/img/productDetail/2.jpg" alt="">
                <img src="/img/productDetail/5.jpg" alt="">
                <img src="/img/productDetail/4.jpg" alt="">
            </section>
            <section>
                <img src="/img/productDetail/Main-guitarra.jpg" alt=""><br>
            </section>
            <section>
                <span>Guitarra Tipo Criolla Yacopi De Medio Concierto | Cahoba y Abedul</span><br>
                <span><strong>$60.000</strong></span><br>
                <span>Medios de Pago</span><br>
                <img src="/img/Index/pago.jpg" alt=""><br>
                <button>Comprar Ahora</button><br>
                <button>Agregar a la Bolsa</button><br>
            </section>
        </section>

    </main>
    <footer>
        <h3>holis</h3>
    </footer>
</body>
</html>