<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/css/productCart.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock & Blues Music</title>
</head>
<body>
    <header>
        <section class="nav-bar">
            <img src="/img/Index/Logo-nuestro.png" alt width="60px" class="logo">
            <section>
                <button id="Ingresa">Ingresa</button>
                <button id="Registrate">Registrate</button>
            </section>
        </section>
        <nav class="nav-bar">
            <span>Rock & Blues Music</span>
            <ul class="nav-bar-espaciado">
                <li>Catalogo</li>
                <li>Ofertas!</li>
                <li>About Us</li>
                <li>Contacto</li>
                <li><img src="/img/Index/bolso.jpg" class="ocultar"></li>
            </ul>
        </nav>
    </header>
    <main>
        
        <div class= "flex-container">
            <section>
        <div><img src="/img/productCart/guitarra.jpg" height="160 px"></div>
        <div class= "texto guitarra">
            <div><img class="micro" src="/img/productCart/microfono.jpg" height="160 px"></div>
            <div class= "texto micro">    
        </section>
        <section>
                <h2>SQUIER 037-0910-558</h2>
            <h4>cantidad</h4>
            <h4>1</span></h4>
            <br><br>       
            <h2>BEHRINGER VOICE STUDIO</h2>
            <h4>cantidad</h4>
            <h4>1</h4>
            <br><br>
            <h3>Productos (2)</h3> 
            <h3>Calcular Envio</h3>   
            <h3>Productos (2)</h3>
            <section><a href="checkout" class="btn btn-primary btn-lg">Continuar</a></section>
            <a href="shop" class="btn btn-link">Seguir comprando</a></section>   
    
        
        <section>
            <br>
            <img src="/img/productCart/trespuntos.jpg" height="13 px">
             <h3>1</h3>
            <h3>25.488</h3> 
            <br><br>
            <br><br>
            <img src="/img/productCart/trespuntos.jpg" height="13 px">
             <h3>1</h3>
            <h3>29.343</h3>
            <br><br>
            <h3>54.831</h3>
            <h3>0</h3>
            <h2>54.831</h2>
        </section>
    <footer>

    </footer>
</body>
</html>