<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/css/productCart.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock & Blues Music</title>
</head>
<body>
    <header>
        <section class="nav-bar">
            <img src="/img/Index/Logo-nuestro.png" width="auto" class="img-logo">
            <section> 
                <button id="Ingresa">Ingresa</button>
                <button id="Registrate">Registrate</button>
            </section>
        </section>
        <nav class="nav-bar">
            <span>Rock & Blues Music</span>
            <ul class="nav-bar-espaciado">
                <li><a href= "#"></a>Catalogo</a></li>
                <li><a href= "#">Ofertas!</a></li>
                <li><a href= "#">AboutUs</a></li>
                <li><a href= "#">Contacto</a></li>
                <li><img src="/img/Index/bolso.jpg" class="ocultar"></li>
            </ul>

        </nav>
    </header>
    <main>
        <div class= "flex-container">
        <div><img src="/img/productCart/guitarra.jpg" height="180 px"></div>
        <div><span>SQUIER 037-0910-558</span></div>
        <div><span>cantidad</span></div>
        <div><span>1</span></div>
            <div><span>29.343</span></div>

                <div><img src="/img/productCart/microfono.jpg" height="180 px"></div>
                <div><span>BEHRINGER VOICE STUDIO</span></div>
                <span>cantidad</span>
                <span>1</span>
                <span>25.488</span>
            </div>
            </section>
            <section>
                <span>productos 2</span>
                <span>54.831</span>
                <span>Calcular envio</span>
                <span>0</span>
            </section>
            <section>
                <span>productos 2</span>
                <span>54.831</span>
            </section>
            <section>
                <a href="checkout" class="btn btn-primary btn-lg">Continuar</a>
                <a href="shop" class="btn btn-link">Seguir comprando</a>
            </section>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>