<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/css/productDetail.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock & Blues Music</title>
</head>
<body>
    <header>
        <section class="nav-bar">
            <div class="logo">
                <img src="/img/Index/Logo-nuestro.png" alt width="60px" class="logo">
            </div>
                <section>
                <button class="ingresa">Ingresa</button>
                <button id="Registrate">Registrate</button>
            </section>
        </section>
        <nav class="nav-bar">
            <span>Rock & Blues Music</span>
            <ul class="nav-bar-espaciado">
                <li>Catalogo</li>
                <li>Ofertas!</li>
                <li>About Us</li>
                <li>Contacto</li>
                <li><img src="/img/Index/bolso.jpg" class="ocultar"></li>
            </ul>
        </nav>
        <section class="navegacion-secundaria">
            <span>Instrumentos Musicales</span>
            <span>></span>
            <span>Guitarras</span>
            <span>></span>
            <span>Criollas</span>
        </section>
    </header>

    <main>
        <section class="contenedo-main">
            <section class="imagenes-laterales">
                <img src="/img/productDetail/1.jpg" alt="">
                <img src="/img/productDetail/2.jpg" alt="">
                <img src="/img/productDetail/5.jpg" alt="">
                <img src="/img/productDetail/4.jpg" alt="">
            </section>
            <section>
                <img src="/img/productDetail/Main-guitarra.jpg" alt="">
            </section>
            <section class="columna3">
                <div>
                    <span>Guitarra Tipo Criolla Yacopi De Medio Concierto | Cahoba y Abedul</span><br>

                    <span><strong>$60.000</strong></span>
                </div>
                <div>
                    <span> <strong> Medios de Pago</strong></span><br>
                    <img src="/img/Index/pago.jpg" alt="">
                </div>
                <div class="compra"> 
                    <button class="botones-compra">Comprar Ahora</button>
                    <button class="botones-carrito">Agregar a la Bolsa</button>
                </div>
            </section>
        </section>

    </main>
    <footer>
        <h3>holis</h3>
    </footer>
</body>
</html>