<!DOCTYPE html>
<html lang="es">
<head>
	<link rel="stylesheet" href="/css/register.css">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Rock & Blues Music</title>
</head>

<body>
    <header>
        <section class="nav-bar">
            <div class="logo">
                <a href="/"><img src="/img/Index/Logo-nuestro.png" alt width="60px" class="logo"></a>
            </div>
                <section>
                <button class="ingresa">Ingresa</button>
                <button id="Registrate">Registrate</button>
            </section>
        </section>
        <nav class="nav-bar">
            <span>Rock & Blues Music</span>
            <ul class="nav-bar-espaciado">
                <li>Catalogo</li>
                <li>Ofertas!</li>
                <li>About Us</li>
                <li>Contacto</li>
                <li><img src="/img/Index/bolso.jpg" class="ocultar"></li>
            </ul>
        </nav>
    </header>
	<div>
		<img src="/img/Index/banner.jpg" alt width="100%">
	</div>

	<main>
		<section class="main-contenedor">
			<div><h1>Registrate</h1></div>
			<form action="/" method="GET" class="main-formulario"> 
				
				<div class="formulario">
					<div class="nombre-y-apellido">
						<div class="etiqueta-formulario3">
							<label for="name">Nombre</label>
							<input type="text" name="name" id="name">
						</div>
						<div class="etiqueta-formulario2">
							<label for="last-name">Apellido</label>
							<input type="text" name="last-name" id="last-name">
						</div>
					</div>

					<div class="etiqueta-formulario">
						<label for="user">Email</label>
						<input type="email" name="email" id="user">
					</div>
					<div class="etiqueta-formulario">
						<label for="password">Contraseña</label>
						<input type="password" name="clave" id="password">
					</div>
					<div class="etiqueta-formulario">
						<label for="confirm-password">Confirmar Contraseña</label>
						<input type="password" name="clave" id="confirm-password">
					</div>

					<div class="etiqueta-formulario">
						<button type="submit" class="boton">
							Registrate
						</button>
					</div>
				</div>
			</form>

		</section>
	</main>

	<footer>
		<h2>Aca va un footer</h2>
	</footer>
</body>

</html>
