<%- include('../parcials/head.ejs') %>
<link rel="stylesheet" href="/css/productCreate.css">
<body>
	<%- include('../parcials/header.ejs') %>

	<main>
		<section class="main-contenedor">
			<div class="titulo"><h1>Subi tu producto</h1></div>
                <div class="division-ppal">
                    <div class="formulario-columna">
                    <form action="/products/create" method="POST" class="main-formulario"> 

                        <div class="etiqueta-formulario">
                            <label for="name">Nombre de producto</label>
                            <input type="text" name="name" id="name">
                        </div>
                        
                        <div class="etiqueta-formulario">
                            <label for="price">Precio</label>
                            <input type="number" name="price" id="price">
                        </div>

                        <div class="etiqueta-formulario">
                            <label for="category">Categoria</label>
                            <input type="text" name="category" id="category">
                        </div>

                        <div class="etiqueta-formulario">
                            <label for="product-image">Imagen</label>
                            <input type="file" name="productImage" id="productImage">
                        </div>

                        <div class="etiqueta-formulario">
                            <label for="descripcion">Descripcion</label>
                            <input class="descripcion" type="textarea" name="descripcion" id="descripcion">
                        </div>

                        <div class="botones">
                            <button type="submit" class="boton">
                                Crear producto
                            </button>
                            <button type="reset" class="boton">
                                Borrar
                            </button>
                        </div>
                    </form>
                    </div>
                    <div class="imagen">
                        <img src="/img/productCreate/woocom-pro1.png" alt="">
                    </div>
                </div>
		</section>
	</main>

	<%- include('../parcials/footer.ejs') %>

</html>
