
<%- include('../parcials/head.ejs') %>

<link rel="stylesheet" href="/css/productList.css">

<body>

    <%- include('../parcials/header.ejs') %>

    <img src="/img/productList/img-home-banner.jpg" width="100%">

    <%- include('../parcials/footer.ejs') %>
</body>
</html>