<%- include('../parcials/head.ejs') %>
<link rel="stylesheet" href="/css/productList.css">
<body>
    <%- include('../parcials/header.ejs') %>
    <main>
        <section>
            <h2 class="titulares">Encontrá el producto que buscas!</h2>
            <div class="articulos">
                    
                </article>

                <article class="articulo">
                    <a href="/products/productDetail/1"><img class="imagen-promo" src="/img/productDetail/Main-guitarra.jpg" alt width="100%"></a>
                    
                </article>

                <article class="articulo">
                    <a href="/products/productDetail/2"><img class="imagen-promo" src="/img/productDetail/Main-guitarra.jpg" alt width="100%"></a>
                    
                </article>

                <article class="articulo">
                    <a href="/products/productDetail/3"><img class="imagen-promo" src="/img/productDetail/Main-guitarra.jpg" alt width="100%"></a>
                    
                </article>

                <article class="articulo">
                    <a href="/products/productDetail/4"><img class="imagen-promo" src="/img/productDetail/Main-guitarra.jpg" alt width="100%"></a>
                    
                </article>

                <article class="articulo">
                    <a href="/products/productDetail/5"><img class="imagen-promo" src="/img/productDetail/Main-guitarra.jpg" alt width="100%"></a>
                    
                </article>

                <article class="articulo">
                    <a href="/products/productDetail/6"><img class="imagen-promo" src="/img/productDetail/Main-guitarra.jpg" alt width="100%"></a>
                    
                </article>

                <article class="articulo">
                    <a href="/products/productDetail/7"><img class="imagen-promo" src="/img/productDetail/Main-guitarra.jpg" alt width="100%"></a>
                    
                </article>
            </div>
        </section>
    </main>
    <%- include('../parcials/footer.ejs') %>
</body>
</html>